<div class="col">
  <div class="card h-100 hoverable project-card project-card-{{ forloop.index0 | modulo: 6 }}">
    <div class="card-body">
      <h2 class="card-title">{{ project.title }}</h2>
      <p class="card-text">{{ project.description }}</p>
      <div class="project-buttons">
        <a href="{% if project.redirect %}{{ project.redirect }}{% else %}{{ project.url | relative_url }}{% endif %}" class="btn btn-sm project-btn">Read More</a>
        {% if project.github %}
          <a href="{{ project.github }}" class="btn btn-sm project-btn"><i class="fa-brands fa-github"></i> View on GitHub</a>
        {% endif %}
      </div>
    </div>
  </div>
</div>
